.bookmark-button-container {
  display: block;
  margin: 8px 0;
  text-align: left;
}

:host ::ng-deep .quicklink-button {
  border: 1px solid;
  border-radius: 5px;
  min-height: 32px;
  height: 32px;
  padding: 0 16px;
}
